export NEXT_PUBLIC_GRAPHQL_URL="http://localhost:8080/v1/graphql"
export AUTH0_DOMAIN="slyderz.auth0.com"
export AUTH0_CLIENT_ID="jOmXINql7ET9fj7TpuAoSXScvtdgiPZk"
export AUTH0_CLIENT_SECRET="bYAz_z6RcpzoqxbibmyR1qr1fCTQd1i0orJxmsWs80HoXGu-PgaTKRd01MCbh6xj"
export COOKIE_SECRET="#9UHGM-AHY**H84NHtN2-MM&M7X!%n53"
export DATABASE_URL="postgres://postgres:postgrespassword@postgres:5432/postgres"
export NEXT_PUBLIC_GRAPHQL_URL="http://localhost:8080/v1/graphql"
export PROD_URL="https://slyderz-prisma.herokuapp.com/"
export APP_SECRET="9-vNn@dOh*M{1d0/"