.email {
  background-color: #e6e6e6;
  border: none;
  border-radius: .5em;
  color: #0ab28f;
  font-size: inherit;
  padding: .6em .8em;
  width: 100%;
}

.email-btn {
  background-color: #0eb;
  border: none;
  border-radius: .5em;
  color: #212529;
  cursor: pointer;
  font-size: inherit;
  padding: .8em 1.2em;
  transition: all .3s ease-in-out;
  margin-top: 1rem;
  width: 200px;
}

.brand {
  color: rgb(230, 87, 56);
}

.form {
  align-items: center;
  display: flex;
  margin-bottom: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}